/* --- FILE EXPLORER STYLES --- */

.tag-dots-container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 0px; 
    height: 0px;
    z-index: 10;
}

.tag-dots-container.is-before { left: 0; justify-content: flex-end; }
.tag-dots-container.is-after { right: 0; justify-content: flex-end; }

.tag-dot {
    border-radius: 50%;
    position: absolute;
    border: 0.5px solid var(--background-primary);
    top: 50%;
    transform: translateY(-50%);
}

/* DOTS SIZE OPTIONS */

.tag-dots-container.dots-small .tag-dot { width: 6px; height: 6px; }
.tag-dots-container.dots-default .tag-dot { width: 7px; height: 7px; }
.tag-dots-container.dots-big .tag-dot { width: 8px; height: 8px; }

.nav-file-title.colored-tag-file {
    position: relative;
    display: flex;
    align-items: center;
}


/* --- SETTINGS TAB STYLES --- */

.plugin-description-container {
    /* Add your custom styling here */
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -4px;
}


/* RULES LIST */

.tag-rules-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}


/* RULE ITEM */

.tag-color-setting-item {
    display: flex !important;
    align-items: center;
    gap: 10px !important;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 4px !important;
    border: 2px solid transparent; 
}

.tag-input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tag-input-field-wrapper {
    width: 100%;
}

.tag-color-picker-input {
    appearance: none !important;
    border: none !important;
    padding: 0 !important;
    background: none !important;
    cursor: pointer !important;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    flex: 0 0 24px;
    border-radius: 50% !important;
    overflow: hidden !important;
}

.tag-color-picker-input::-webkit-color-swatch-wrapper {
    padding: 0 !important;
    border-radius: 50% !important;
}

.tag-color-picker-input::-webkit-color-swatch {
    border: 1px solid var(--background-modifier-border) !important;
    border-radius: 50% !important;
}

.tag-color-setting-item input[type="text"] {
    width: 100% !important;
}

.tag-color-setting-item input[type="text"].is-invalid {
    border: 1px solid var(--text-error) !important;
}


/* ERROR MESSAGES */

.tag-error-message {
    color: var(--text-error);
    font-size: 0.75em;
    display: none;
    line-height: 1.2;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: -21.5px;
}

.tag-error-message.is-visible {
    display: block;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: -21.5px;
}


/* DRAG AND DROP */

.drag-handle {
    color: var(--text-muted);
    cursor: grab;
    flex: 0 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;
}

.tag-color-setting-item.is-dragging {
    opacity: 1;
    background-color: var(--background-modifier-hover);
    border-radius: var(--input-radius);
    border-bottom: 2px solid var(--interactive-accent) !important;
}